    <div class="container"> 
        <a class="btn" href="/socios">
        <img src="/views/static/img/socios.jpg" class="img-thumbnail" 
            style="max-width: 220px;position: relative;text-align: center;color: white;"
            alt="Responsive image">
        </a>


        <a class="btn" href="/barcos">
            <img src="/views/static/img/barco.jpg" class="img-thumbnail" 
                style="max-width: 220px;position: relative;text-align: center;color: white;"
                alt="Responsive image">
            </a>

            <a class="btn" href="/operaciones">
                <img src="/views/static/img/operaciones.jpg" class="img-thumbnail" 
                    style="max-width: 220px;position: relative;text-align: center;color: white;"
                    alt="Responsive image">
                </a>
    </div> 


    